:root {
  /* Definindo as variáveis de cor */
  --red: #f54e4e;
  --green: #4aec8c;
}

/* Estilos gerais do body */
body {
  background-color: #30384b;
  color: #eee;
}

/* Estilos específicos para a seção principal */
main {
  padding-top: 50px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

/* Estilos para os botões */
button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

/* Estilos específicos para botões com texto */
button.with-text {
  width: auto;
  background-color: rgba(224, 76, 76, 0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

/* Estilos para o ícone dentro dos botões com texto */
button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

/* Estilos para as labels */
label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
